@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --font-size-titulos: 3rem;
  --font-size-subtitulos: 2rem;
  --font-size-texto: 1.1rem;
  --font-size-parrafo: 0.8rem;
  --font-family-primaria: "Montserrat", sans-serif;
  --font-family-secundaria: "Ubuntu", sans-serif;
  --color1: #e0e1dd;
  --color2: #778da9;
  --color3: #415a77;
  --color4: #1b263b;
  --color5: #0d1b2a;
}
