:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.titulo {
  font-size: var(--font-size-titulos);
  font-family: var(--font-family-primaria);
  color: var(--color2);
}

.parrafo {
  font-size: var(--font-size-parrafo);
}
/* hoja casavta */
.titulo-venta {
  text-align: center;

  font-family: var(--font-family-primaria);
}

.fondo {
  background-color: var(--color1);
}
.card {
  margin: 3rem 0 0 0;
}
.card-img-top {
  margin-top: 1rem;
}
.pagina {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
/* hoja detcasavta */
.tarjeta-detalle {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10vw;

  justify-content: center;
}
.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* hoja proyecto */
.fotos {
  display: flex;
  width: 100vw;
  justify-content: center;

  background-color: var(--color1);
}
